$color-primary-100: #c5fffa;
$color-primary-200: #8bfff5;
$color-primary-300: #4afef0;
$color-primary-400: #15ece2;
$color-primary-500: #00d0c9;
$color-primary-600: #00a8a5;
$color-primary-700: #008080;
$color-primary-800: #066769;
$color-primary-900: #0a5757;

$color-secondary-100: #fafac7;
$color-secondary-200: #f7f291;
$color-secondary-300: #f2e452;
$color-secondary-400: #ecd223;
$color-secondary-500: #d1b115;
$color-secondary-600: #be9310;
$color-secondary-700: #976a11;
$color-secondary-800: #7e5515;
$color-secondary-900: #6b4518;


$color-nord-50: #f3f8f7;
$color-nord-100: #e0edec;
$color-nord-200: #c5dcdb;
$color-nord-300: #8fbcbb;
$color-nord-400: #6ca4a4;
$color-nord-500: #518989;
$color-nord-600: #467174;
$color-nord-700: #3d5e61;
$color-nord-800: #385052;
$color-nord-900: #324447;

$color-glacier-50: #f4f8fa;
$color-glacier-100: #e6eef3;
$color-glacier-200: #d3e0ea;
$color-glacier-300: #b4ccdc;
$color-glacier-400: #90b1ca;
$color-glacier-500: #81a1c1;
$color-glacier-600: #6383ad;
$color-glacier-700: #58729d;
$color-glacier-800: #4b5f82;
$color-glacier-900: #404f68;